<h1>This is the home page. Below is the addition form.</h1>

<form id="generator">
  <button id="submit">Submit</button>
  <label for="namebox"> Name:</label>
  <input type="text" id="namebox">
  <label for="repbox"> Reps:</label>
  <input type="number" id="repbox">
  <label for="weightbox"> Weight:</label>
  <input type="number" id="weightbox">
  <label for="datebox"> Date:</label>
  <input type="date" id="datebox">
  <label for="lbscheck"> In lbs:</label>
  <input type="checkbox" id="lbscheck">
</form>
